.kirmizi{
    color: rgb(0, 183, 255);
    text-align: right;
    background-color: rgb(130, 195, 238);
}


.kutu{
    width: 70%;
    height: 50px;
    background-color: rgb(0, 255, 157);
    border: 10px solid coral;
    border-radius: 20px;
    box-shadow: 5px 5px 10px red;
    }

    .container{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        background-color: black;
        height: 500px;

    }

    .container div{
        width: 200px;
        height: 200px;
        background-color: rgb(221, 163, 157);
        padding: 20px;
        margin: 20px;
    }

